/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* CSS Reset  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Global styles */

:root {
    --font-family: Karla, sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;

    --font-size: 16px;

    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);

    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);

    --subscription-background: #2bb3b1;
    --subscription-duration: #a8e9ec;
    --subscription-slogan: #97eeeb;

    --about-us-background: #4abebd;
}

body {
    font-family: var(--font-family);
    font-weight: var(--fw-regular);
}

.container {
    padding: 4rem 2rem;
    background-color: var(--light-gray);

    display: grid;

    justify-content: center;
    align-content: center;

    grid-template-columns: minmax(300px, 700px);
}

/* community container */
.community {
    background-color: white;
    display: grid;

    row-gap: 2rem;
    padding: 2rem 1rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.community__heading {
    color: var(--cyan);
    font-weight: var(--fw-bold);
}

.community__slogan {
    color: var(--bright-yellow);
    font-weight: var(--fw-bold);
}

.community__desc {
    color: var(--grayish-blue);
    font-size: 15px;
    line-height: 1.7;
}

/* subscription container */

.subscription {
    background-color: var(--subscription-background);
    color: white;
    display: grid;
    row-gap: 1rem;
    padding: 2rem 1rem;
}

.subscription__heading {
    font-weight: var(--fw-bold);
}

.subscription__cost {
    font-size: 2rem;
    padding-right: 0.7rem;
    color: white;
}

.subscription__duration {
    color: var(--subscription-duration);
}

.subscription__slogan {
    color: var(--subscription-slogan);
}

button {
    background-color: var(--bright-yellow);
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-weight: var(--fw-bold);
    border-radius: 5px;
    cursor: pointer;
}

/* about-us container */
.about-us {
    background-color: var(--about-us-background);
    padding: 2rem 1rem;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.about-us__heading {
    color: white;
    font-weight: var(--fw-bold);
    padding-bottom: 1rem;
}

.about-us__services {
    color: #82e1e0;
}

/* media queries */
@media only screen and (min-width: 700px) {

    .container {
        grid-template-columns: 25% 25%;

        height: 100vh;

        justify-content: center;
        align-content: center;

        padding: 0;
    }


    .community {
        grid-column: 1/-1;
    }

    .about-us {
        border-bottom-left-radius: 0px;
    }

    .subscription {
        border-bottom-left-radius: 8px;
    }
}