/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS RESET END */

:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    --font-family: Manrope, sans-serif;
    --fw-regular: 500;
    --fw-bold: 700;

    --font-size-normal: 13px;
}

body {
    font-family: var(--font-family);
    font-weight: var(--fw-regular);

    background-color: var(--light-grayish-blue);

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    background-color: white;

    display: flex;
    flex-direction: column;

    border-radius: 12px;
    overflow: hidden;

    max-width: 340px;
}

.article__img {
    height: 200px;
    object-fit: cover;
}

/* common */
.article__heading,
.article__description,
.article__owner {
    padding: 0.3rem 2.5rem;
}

/* article data section */
.article__data {
    /* padding: 2.5rem; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.article__heading {
    padding-top: 2.5rem;
    color: var(--very-dark-grayish-blue);
    font-weight: var(--fw-bold);
    font-size: 1.1rem;
    letter-spacing: 0.8px;
}

.article__description {
    color: var(--desaturated-dark-blue);
}

/* article owner section */
.article__owner {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.7rem;
}

.article__owner--avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.article__details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.article__details__info--name {
    color: var(--very-dark-grayish-blue);
    font-weight: var(--fw-bold);
    margin-bottom: 0.5rem;
}

.article__details__info--date {
    color: var(--desaturated-dark-blue);
}

.article__details__share--icon {
    margin-right: 0.2rem;
    border-radius: 50%;
    background-clip: content-box;
    box-shadow: inset 0 0 0 15px var(--light-grayish-blue);
    padding: 0.7rem;
    cursor: pointer;
}

.article__details__share--icon:hover {
    transition: all 300ms ease-in-out;
    box-shadow: inset 0 0 0 15px var(--very-dark-grayish-blue);
    content: url('./images/icon-share-white.svg');
}

/* article share section */
.article__share {
    padding: 1.3rem 2.5rem;
    background-color: var(--very-dark-grayish-blue);
    justify-content: flex-end;
    display: none;
    align-items: center;
}

.article_share_desktop {
    padding: 0.3rem;
}

.article__share>p {
    letter-spacing: 4px;
    color: var(--grayish-blue);
    padding-right: 1rem;
}

.article__share--icons {
    display: flex;
    gap: 1rem;
    padding-right: 2rem;
}

.article__share--icons>img {
    cursor: pointer;
}

.article__share--icons>img:hover {
    transition: transform 0.45s ease;
    transform: translateY(-10px);
}

.secondary {
    background-clip: content-box;
    box-shadow: inset 0 0 0 14px var(--desaturated-dark-blue);
}

.secondary:hover {
    transition: all 300ms ease-in-out;
    box-shadow: inset 0 0 0 15px #fff;
    content: url('./images/icon-share.svg');
}

@media screen and (min-width:960px) {


    article {
        flex-direction: row;
        max-width: 800px;

        position: relative;
        overflow: visible;
    }

    .article__img {
        height: 300px;
        object-fit: cover;
    }

    .article__share {
        position: absolute;
        top: 160px;
        right: -50px;
        padding: 0.8rem 0.4rem;
        border-radius: 12px;
        width: 220px;
    }

    .secondary {
        display: none;
    }

    .bottom-arrow {
        border-bottom: 0px solid var(--very-dark-grayish-blue);
        display: none;
    }

    .bottom-arrow:after {
        content: '';
        position: absolute;
        bottom: 85px;
        left: 675px;
        right: 0;
        margin: 0 auto;
        width: 0;
        height: 0;
        border-top: 10px solid var(--very-dark-grayish-blue);
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }
}